@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-li::after {
  position: absolute; bottom: -8px; width: 0; content: '';
  height: 1px; background-color: rgb(8 145 178); 
  z-index: 2; transition: all 0.5s;
}
.nav-li.active {
  color: rgb(8 145 178);
}
.nav-li.active::after {
  width: 100%;
}
.active {
  display: flex;
}
